/* Site-wide */
/* Entire page */
* {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}

body{
  width: 95%;
  max-width: 1024px;
  background-color: rgb(37, 36, 36) !important;
  color: #fff !important;
  margin: auto !important; 
}

@media only screen and (max-width: 692px){

  .content-section,
  .profile-section{
    width: 95% !important;
  }

  .navbar, .social-links{
    display: flex;
    justify-content: center;
  }
}

.page-wrapper {
  min-height: 100%;
  display: block;
}

/* Headers */
h1 {font-size: 2.1rem;}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.2rem;}

/* General text properties */
/* Ordinary text */
p{font-size: 1.2rem;}

/* Links */
a {
  color: #ffc107 !important;
  text-decoration: none;
}

a:hover {
  color: #a57e09 !important;
  text-decoration: none;
}

/* Code-blocks */
code {
  font-family: "Roboto Mono", monospace;
  color: #04dac6 !important;
  width: 100%;
  overflow-x: scroll;
}

.highlight, pre{
  width: 100%;
  overflow-x: scroll;
}

/* Tables */
thead{
  text-align: left;
}

td{
  max-width: 100%;
  word-wrap: break-word;
}

/* Nav section */
.navbar{
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
  margin-left: .25rem !important;
}

.navbtn-section{
  margin-left: .4rem !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.nav-btn{
  font-size: 1em;
  background-color: rgb(37, 36, 36) !important;
  padding: .5rem !important;
  border: 1px solid #dee2e6 !important;
  border-color: #ffc107 !important;
  border-top-color: rgb(222, 226, 230);
  border-right-color: rgb(222, 226, 230);
  border-bottom-color: rgb(222, 226, 230);
  border-left-color: rgb(222, 226, 230);
  box-shadow: 0 11px 15px rgb(0 0 0 / 0.3);

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-btn:hover{
  transform: scale(1.1);
}

/* Footer */
footer {
  height: 100px;
}

.separator{
  height: 2px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 1.5rem !important;
  width: 50% !important;
  background-color: #dc3545 !important;
}

.copyright{
  font-size: 0.9rem;
  margin-top: 1.5rem !important;
  margin-bottom: .5rem !important; 
}

.cr-text{
  text-align: center !important;
  font-size: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Index page */
/* Main section */
.content-wrapper{
  -ms-flex-pack: distribute !important;
  -ms-flex-wrap: wrap !important;
  -ms-flex-direction: row !important;
  display: -ms-flexbox !important;

  justify-content: space-around !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  display: flex !important;
}

.profile-section{
  width: calc(35% - 20px);
  min-width: 250px;
  margin-top: 1.5rem !important;
}

.content-section{
  width: calc(65% - 20px);
  margin-top: 1.5rem !important;
}

/* Profile section */
/* Image */
.profile-image{
  margin-bottom: 1.5rem !important;
  width: 100% !important;
  border-radius: .25rem !important;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  box-shadow: 0 15px 15px rgb(0 0 0 / 0.5);
}

/* About section */
.about-section{
  margin-bottom: 25px;
  padding: .5rem !important;
  position: relative !important;
  border-radius: .25rem !important;
  border: 1px solid #dee2e6 !important;
  box-shadow: 0 15px 15px rgb(0 0 0 / 0.5);
}

/* .about-title{
  position: absolute; 
  top: -0.8rem; 
  right: 0.5em;
  background-color: rgb(37, 36, 36) !important;
  padding-left: .5rem !important;
  padding-right: .5rem !important;
  margin: 0px;
  border-radius: .25rem !important;
  border: 1px solid #dee2e6 !important;
}
 */

.site-author{
  margin:0px;
}

/* Social links */
.social-links{
  margin-top: .5rem !important;
  
  -ms-flex-pack: center !important;
  display: -ms-flexbox !important;

  justify-content: center !important;
  display: flex !important;
}

.social-btn{
  padding: 0.5rem;
}

.social-icon {
  font-size: 1.7em;
  box-shadow: 0 15px 15px rgb(0 0 0 / 0.3);
}

.social-icon:hover {
  font-size: 1.6em;
}

/* Content section */
/* Recent articles */
.recent-section{
  text-align: center !important;
  padding: .5rem !important;
  position: relative !important;
  border-radius: .25rem !important;
  border: 1px solid #dee2e6 !important;
  box-shadow: 0 15px 15px rgb(0 0 0 / 0.5);
  margin-bottom: 1rem;
}

.recent-title{
  position: absolute;
  top: -0.7em;
  left: 0.5em;
  background-color: rgb(37, 36, 36) !important;
  padding-left: .5rem !important;
  padding-right: .5rem !important;
  margin: 0px;
  border-radius: .25rem !important;
  border: 1px solid #dee2e6 !important;
  font-size: 1.2rem;
}

.recent-list{
  padding-top: .5rem !important;
  margin-top:1rem;
}

.article-link{
  margin: 0;
  padding: 0;
}

.article-btn{
  text-align: left;
  border-radius: .25rem !important;
  border: 1px solid #dee2e6 !important;
  margin-bottom: .5rem;
  width: 100%;
  background-color: transparent;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.article-btn:hover{
  cursor: pointer;
  width: 95%;
}

.article-title{
  color: #ffc107 !important;
  text-transform: uppercase !important;
  text-decoration: underline;

  padding: .5rem;
  margin: 0px;
}

.article-desc{

  color: #fff;
  font-size: 1.2rem;
  margin: 0px;
  text-decoration: none;
  padding: .5rem;

}

.all-art-link{
  text-align: center !important;
  margin: 0px;
  font-size: 1.2rem;
  width: 100%;
}

.all-art-btn{
  text-align: center !important;
  margin: 0px;
  font-size: 1.2rem;
  width: 100%;
  color: #ffc107 !important;
  border-radius: .25rem !important;
  border: 1px solid #dee2e6 !important;
  margin-bottom: .5rem;
  width: 100%;
  background-color: transparent;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.all-art-btn:hover{
  cursor: pointer;
  width: 95%;
}

/* Metadata section */
.metadata-section{
  max-height: 104px;
  transition: all 0.25s;
  font-size: 1.2rem;
  margin: .5rem !important;
  overflow: hidden !important;

}

.metadata-item{
  font-size: 0.8em;
  margin-bottom: .25rem !important;
}

.metadata-value{
  padding-left: .25rem !important;
  padding-right: .25rem !important;
  border-radius: .25rem !important;
  border: 1px solid #dee2e6 !important;
  border-top-color: rgb(222, 226, 230);
  border-right-color: rgb(222, 226, 230);
  border-bottom-color: rgb(222, 226, 230);
  border-left-color: rgb(222, 226, 230);
  border-color: #6c757d !important;
}

/* Previous/Next section */
.prevnext-section{
  margin-top: 1.5rem !important;

  -ms-flex-pack: distribute !important;
  -ms-flex-direction: row !important;


  justify-content: space-around !important;
  display: flex !important;
}

.prevnext-secondary{
  color: #6c757d !important;
}

/* Blogs & Posts page */
.page-title{
  margin-top: 1.5rem !important; 
}

.list-wrapper{
  -ms-flex-direction: column !important;
  display: -ms-flexbox !important;

  flex-direction: column !important;
  display: flex !important;

}

.list-item{
  padding: 1rem !important;
  padding-top: 0rem !important;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
  position: relative !important;
  border-radius: .25rem !important;
  border: 1px solid #dee2e6 !important;
  box-shadow: 0 11px 15px rgb(0 0 0 / 0.3);

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.list-item:hover{
  transform: scale(1.02);
}

.date-wrapper{
  position: absolute;
  top: -1rem;
  left: 5px;
  background-color: rgb(37, 36, 36) !important;
  padding-left: .25rem !important;
  padding-right: .25rem !important;
}

.metadata-btn{
  font-size: 1.2em;
  color: #ffc107 !important;

}.metadata-btn:hover{
  cursor: pointer;
}

.item-title{
  margin-bottom: 0 !important;
}

.item-desc{
  margin-left: .5rem !important;
  margin-top: .5rem !important;
  margin-bottom: 0 !important;

}

.pagination{
  -ms-flex-pack: center !important;
  display: -ms-flexbox !important;

  justify-content: center !important;
  display: flex !important;
  
}

/* Taxa page */
.taxa-title{
  margin-top: 1.5rem !important;
}

.taxa-cntr{
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,
              background-color .15s ease-in-out,
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
}

.taxa-box-wrapper{
  margin-left: .5rem !important;
  
  -ms-flex-wrap: wrap !important;
  -ms-flex-direction: row !important;
  display: -ms-flexbox !important;

  flex-wrap: wrap !important;
  flex-direction: row !important;
  display: flex !important;
}

.taxa-box-content{
  font-size: 1.2rem;
  box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.75) !important;
  background-color: rgb(37, 36, 36) !important;
  padding: .5rem !important;
  margin: .5rem !important;

  color: #fff;
  border-color: #f8f9fa !important;
  border: 1px solid #dee2e6 !important;
  border-top-color: rgb(222, 226, 230);
  border-right-color: rgb(222, 226, 230);
  border-bottom-color: rgb(222, 226, 230);
  border-left-color: rgb(222, 226, 230);

  display: inline-block;
  font-weight: 400;
  text-align: center;
  user-select: none;
  line-height: 1.5;
  border-radius: .25rem;
/*   transition: color .15s ease-in-out,
              background-color .15s ease-in-out,
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out; */
  
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.taxa-box-content:hover{
  transform: scale(1.1);
}

/* Archive page */
.archive-title{
  margin-top: 1.5rem !important;
}

.table-wrapper{
  box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.75) !important;
  color: #fff;
  background-color: #343a40;
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;

}

.table-wrapper .archive-list tr:nth-of-type(2n+1){
  background-color: #3e444a;

}

.thead-wrapper{
  color: #fff;
  border-collapse: collapse;
  border-color: #454d55;
}

.thead-item{
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
  vertical-align: bottom;
  padding: .3rem;
  padding-bottom: .5rem !important;
  text-align: inherit;
}

.archive-list{
  color: #fff;
  border-collapse: collapse;
}

.item-content-wrapper{
  margin: 0 !important;
  margin-left: .5rem !important;
}

/* Article page */
.article-wrapper{
  margin-top: 2.5rem;
  padding: 1rem !important;
  position: relative !important;
  border-radius: .25rem !important;
  border: 1px solid #dee2e6 !important;
  display: block;
}

.date-btn-wrapper{
  position: absolute;
  top: -14.3px;
  font-size: 0.9em;
  background-color: rgb(37, 36, 36) !important;
  padding-left: .25rem !important;
  padding-right: .25rem !important;
  margin-right: 1rem !important;
  margin-bottom: .25rem !important;
  border-radius: .25rem !important;
}

.date-stamp{
  font-size: 1.0rem;
}

.article-content{
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  border-bottom: 1px solid #dee2e6 !important;
  border-top: 1px solid #dee2e6 !important;
}