{{ define "main" }}
<main>
  <h1 class="mt-4">{{ .Title }}</h1>
  <div class="d-flex flex-column">
    {{ range (.Paginator 10).Pages }}
    <div
      class="border mt-3 mb-3 p-3 rounded position-relative"
    >
      <h3 class="mb-0">
        <a href="{{ .Permalink | relURL }}" class="article-titles">
          {{- .Title -}}
        </a>
      </h3>
      <div
      class="bg-dark pl-1 pr-1"
      style="position: absolute; top: -1rem; left: 5px;"
    >
      <small>
        <time>
          {{- .Date.Format (default "2006-12-13" $.Site.Params.dateFormat) -}}
        </time>
      </small>
      <span
        class="more"
        style="font-size: 1.2em;"
        title="Show Metadata"
        onclick="showMetadata(this)"
      >
        &#43;
      </span>
    </div>
    {{ partial "metadata" . }}

      {{ if .Params.Description }}
      <p class="mt-2 mb-0 ml-2">{{ .Params.Description }}</p>
      {{ end }}
    </div>
    {{ end }}
  </div>
  <div class="d-flex justify-content-center">
    {{ template "_internal/pagination.html" . }}
  </div>
</main>
{{ partial "metadataJS" . }}
{{ end }}
