{{ define "main" }}
<main>
  <div class="row row-eq-height">
    {{ $sectionName := .Title | lower }}
    {{ range $key, $taxonomy := .Site.Taxonomies.categories.ByCount }}
    <div class="col-md-6 mt-3">
      <h2>
        <a href="/categories/{{ .Name }}/">
          {{ .Name }}
        </a>
      </h2>
      <div class="border rounded p-2">
        {{ range where $taxonomy.Pages.ByDate "Type" $sectionName }}
        <h4 class="ml-2">
          <a href="{{ .Permalink }}">
            {{ .Title }}
          </a>
        </h4>
        <p class="ml-4">{{ .Description }}</p>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</main>
{{ end }}
