<link rel="stylesheet" href="/css/mero.css">
<footer>
  <div class="w-50 bg-danger ml-auto mr-auto mt-4" style="height: 2px;"></div>
  <div class="mt-2 mb-0" style="font-size: 0.9em;">
    <p class="text-center">
    	{{ .Site.Params.footer.message | safeHTML }} |
     	<a href="https://github.com/ttaeschn/mero.git">theme</a> based on the works of <a href="https://www.darshanbaral.com">Darshan</a>
     </p>
       	<ul class="footer-menu">
    	{{ range.Site.Menus.footer }}
        	<li class="footer-menu"> <a href="{{ .URL }}">{{ .Name }}</a>
        	</li>
    	{{end}}
    	</ul>
  </div>
</footer>
