<div class="row row-eq-height">
  <div class="col-md-4 mt-2">
    <img class="w-100 rounded" src={{ "./images/main.jpeg" | absURL }}>
    <div class="mt-1 text-center">
      {{ range.Site.Params.social.list }}
      <span class="ml-1 mr-1" style="font-size: 2em;">
        <a href="{{ .url }}">
          <i class="{{ .class }} {{ .icon }}"></i>
        </a>
      </span>
      {{ end }}
    </div>
  </div>

  <div class="col-md-8 p-2">
    <h1>I am {{ .Site.Params.author }}.</h1>
    {{ .Site.Params.introduction.text | markdownify }}
    <div class="mt-4 bg-dark border-top p-2 text-center">
      <h4>
        <b>Recent Posts</b> |
        <small
          ><a href="./posts"><i>See All</i></a></small
        >
      </h4>
      {{ range where .Pages "Type" "posts" | first 4}}
      <a class="list-entry-link text-uppercase" href="{{ .Permalink }}">
        {{ .Title }}
      </a>
      <p class="ml-4">{{ .Description }}</p>
      {{ end }}
    </div>
  </div>
</div>
