<div class="metadata-section" style="max-height: 0px;">
  {{ if ne $.Kind "section" }}

    <!-- Reading-time value -->
    <div class="metadata-item">
      <div>
        Reading Time: {{ partial "readingtime" . }}      
      </div>
    </div>

    <!-- Section value -->
    <div class="metadata-item">
      Section:
      <a
        class="metadata-value"
        href="{{ .Section | relURL }}"
        title="Section"
      >
        {{- (.Site.GetPage .Section).Title -}}
      </a>
    </div>
    
  {{ end }}

  <!-- Fetches sitewide parameters -->
  {{ $params := .Params }}

  <!-- loops through site taxonomies -->
  {{ range $name, $value := .Site.Taxonomies }}
    {{ if index $params $name }}

      <!-- Categories & tags value -->
      <div class="metadata-item list-{{- $name -}}">
        {{ $name | humanize }}:
        {{ range index $params $name }}
        
          <!-- value of each taxonomy item -->
          <a
            class="metadata-value"
            href="{{ $name | relURL }}/{{ . | urlize }}"
            title="{{ $name }}"
          >
            {{- . -}}
          </a>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</div>
