<nav class="mb-3 mt-3 ml-1">
  <div class="d-flex flex-row">
    <div class="menu-item">
      <a
        href="{{ `/` | relURL }}"
        class="border border-warning bg-dark p-2"
        style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;"
        ><span>Home</span>
      </a>
    </div>
    <div class="menu-item dropdown">
      <span class="dropbtn border border-warning bg-dark p-2 text-warning"
        >Sections <i class="fas fa-angle-down"></i
      ></span>
      <div class="dropdown-content p-2 bg-dark2 mt-2 rounded w-auto mt-1" style="min-width: 200px;">
        <ul class="list-unstyled">
          {{ range .Site.Sections.ByWeight }}
          {{ $thisSection := replace (replace .File.Dir "\\" "") "/" "" }}
          {{ if not (in (slice "alltaxa" "archive") $thisSection) }}
          <li class="pt-2">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="menu-item">
      <a
        href="{{ `/alltaxa/` | relURL }}"
        class="border border-warning bg-dark p-2"
        ><span>Taxa</span>
      </a>
    </div>
    <div class="menu-item">
      <a
        href="{{ `/archive/` | relURL }}"
        class="border border-warning bg-dark p-2"
        style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;"
        ><span>Archive</span>
      </a>
    </div>
  </div>
</nav>
