<div class="mt-4 d-flex flex-row justify-content-around">
  {{- if .NextInSection }}
  <div>
    <a
      href="{{ .NextInSection.Permalink | relURL }}"
      data-toggle="tooltip"
      data-placement="top"
      title="{{ .NextInSection.Title }}"
      ><i class="fas fa-chevron-circle-left" style="font-size: 2em;"></i></a
    >
  </div>
  {{- else }}
  <div><i class="text-secondary fas fa-chevron-circle-left" style="font-size: 2em;"></i></div>
  {{- end }}
  {{- if .PrevInSection }}
  <div>
    <a
      href="{{ .PrevInSection.Permalink | relURL }}"
      data-toggle="tooltip"
      data-placement="top"
      title="{{ .PrevInSection.Title }}"
      ><i class="fas fa-chevron-circle-right" style="font-size: 2em;"></i></a
    >
  </div>
  {{- else }}
  <div><i class="text-secondary fas fa-chevron-circle-right" style="font-size: 2em;"></i></div>
  {{- end }}
</div>
