<h4 class="recent-title">
  <b>Nylig</b>
</h4>

<div class="recent-list">

  <!-- creates a list of the first 5 articles -->
  {{ range first 5 (where .Site.Pages "Kind" "page").ByDate.Reverse }}

    <!-- Article list item -->
    <a class="article-link" href="{{ .Permalink }}">
      <button class="article-btn">

        <h4 class="article-title">
          {{ .Title }}
        </h4>
        
        <p class="article-desc">
          {{ .Description }}
        </p>

      </button>
    </a>

  {{ end }}

  <!-- All articles button -->
  
    <a href="{{ `/archive/` | relURL }}">
      <button class="all-art-btn">Se alle</button>
    </a>


</div>
