{{ define "main" }}
  <div class="content-wrapper">
    
    <!-- Picture and social section -->
    <div class="picture-section">
      {{ partial "profile" . }}
    </div>

    <!-- Main section -->
    <div class="content-section">

<!--       About section
      <div class="about-section">
        {{ partial "about" . }}
      </div>  -->
      
      <!-- Recent articles section -->
      <div class="recent-section">
        {{ partial "recentarticles" . }}
      </div> 
    </div>
  </div>
{{ end }}
