{{ define "main" }}
  {{- $paginator := .Paginate (where .Site.Pages "Kind" "page").ByDate.Reverse 20 }}
  <h1 class="archive-title">{{ .Title }}</h1>

  <!-- Archive list-->
  <table class="table-wrapper">
    
    <!-- Header of list-->
    <thead class="thead-wrapper">
      <tr>
        <th class="thead-item" scope="col">Title</th>
        <th class="thead-item" scope="col" style="width: 100px;">Date</th>
      </tr>
    </thead>

    <!-- Content list -->
    <tbody class="archive-list">
      {{ range $paginator.Pages }}

      <!-- List item -->
      <tr class="archive-item">
        <td>

          <!-- Title -->
          <p class="item-content-wrapper">
            <a href="{{ .Permalink | relURL }}" title="{{ .Params.description }}">
              {{- .Title -}}
            </a>

            <!-- Metadata-button -->
            <span
              class="metadata-btn"
              style="font-size: 1.2em;"
              title="Show Metadata"
              onclick="showMetadata(this)"
              onkeypress="keyPress(this, event)"
              tabindex="0"
            >
              &#43;
            </span>
          </p>

          <!-- Metadata-section -->
          {{- partial "metadata" . -}}
        </td>
        
        <!-- Date -->
        <td>
          <time>
            {{- .Date.Format (default "January 2, 2006" "Jan 2, 2006") -}}
          </time>
        </td>
      </tr>
      {{ end }} 
    </tbody>
  </table>

  <!-- Imports -->
  {{ partial "metadataJS" . }}
  {{ template "_internal/pagination.html" . }}
{{ end }}
